//Create a file under the name .env and input the following while filling it with your actual db

//OR use command -- cp .env.example .env  --
//to create a copy of this file to .env and fill in values with your actual db

POSTGRES_DB=your_db_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password